{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

        <h2>{{ markdownify .Site.Params.description_fr }}</h2>

        Suivez l'actualité du groupe en vous abonnant à la
        <a href="https://groupes.renater.fr/sympa/info/r-toulouse">mailing list</a> ou au compte
        <a href="https://twitter.com/RUG_Toulouse">Twitter</a>.

    </div>

</main>

{{ partial "footer" . }}
